<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PWA Sample</title>
  <link rel="manifest" href="./manifest.json">
  <link rel="stylesheet" href="./bootstrap.min.css">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <script src="./vue.js"></script>
  <script src="./sw_register.js"></script>
</head>
<body>
  <h1 class="main-title">Simple Memo</h1>
  <a href="stock.html">在庫管理へ</a>
  <div id="app" class="index">
    <ul class="list-group">
      <li v-for="todo in active_todos" v-bind:key="todo.id" class="todos list-group-item">
        <p class="trash" v-on:click="delete_item(todo.id)">
          <i class="fas fa-trash-alt"></i>
        </p>
        <a v-on:click="link_to('show.html', todo.id)" class="title">
          <p>{{todo.title}}</p>
        </a>
        <p class="edit">
          <a v-on:click="link_to('edit.html', todo.id)">
            <i class="fas fa-pencil-alt"></i>
          </a>
        </p>
      </li>
    </ul>

    <ul class="list-group">
      <li v-for="todo in finish_todos" v-bind:key="todo.id" class="todos list-group-item">
        <p class="trash" v-on:click="delete_item(todo.id)">
          <i class="fas fa-trash-alt"></i>
        </p>
        <a v-on:click="link_to('show.html', todo.id)" class="title">
          <p><s>{{todo.title}}</s></p>
        </a>
        <p class="edit"></p>
      </li>
    </ul>
  </div>
  <div class="footer">
    <a href="new.html" class="newBtn btn btn-primary">+</a>
  </div>

  <script>
    let app = new Vue({
      el:"#app",
      data:{
          todos: [],
      },
      methods:{
        delete_item: function(id){
          this.todos = this.todos.filter(v => v.id != id )
          localStorage.setItem("todos", JSON.stringify(this.todos))
        },

        link_to: function(path, id){
          sessionStorage.setItem("id", id)
          window.location.href = path
        },
      },
      mounted: function() {
        this.todos = JSON.parse(localStorage.getItem("todos")).sort(function(a, b){
          return a.created_at - b.created_at
        })
      },
      computed: {
        active_todos: function(){
          return this.todos.filter(i => !i.finished).reverse()
        },
        finish_todos: function(){
          return this.todos.filter(i => i.finished).reverse()
        }
      }
    })
  </script>
</body>
</html>