<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PWA Sample</title>
  <link rel="manifest" href="./manifest.json">
  <link rel="stylesheet" href="./bootstrap.min.css">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <script src="./vue.js"></script>
  <script src="./sw_register.js"></script>
</head>
<body>
  <div id="app" class="new">
    <ul class="list-group">
      <li v-for="item in todo.items" class="todos list-group-item">
        <p class="title" v-on:click="finish(item)">
          <i class="fas fa-check" v-if="todo.finish_list.includes(item)"></i>
          <i class="far fa-square"v-if="!todo.finish_list.includes(item)"></i>
          {{item}}
        </p>
      </li>
    </ul>
    <div class="buttons">
      <a href="index.html" class="btn btn-secondary submitBtn">
        戻る
      </a>
      <button class="btn btn-info submitBtn" v-on:click="all_ok">
        <span v-if="!todo.finished">完了</span>
        <span v-if="todo.finished">未完了に戻す</span>
      </button>
    </div>
  </div>

<script>
let app = new Vue({
  el:"#app",
  data:{
      todo: {},
      id: "",
      todos: []
  },
  methods:{
    finish: function(item){
      if (this.todo.finish_list.includes(item)){
        this.todo.finish_list = this.todo.finish_list.filter(v => v != item)
      }else{
        this.todo.finish_list.push(item)
      }
      this.todos = this.todos.filter(v => v.id != this.id)
      this.todos.push(this.todo)
      localStorage.setItem("todos", JSON.stringify(this.todos))
    },
    all_ok: function(){
      this.todo.finished = !this.todo.finished
      this.todos = this.todos.filter(v => v.id != this.id)
      this.todos.push(this.todo)
      localStorage.setItem("todos", JSON.stringify(this.todos))
    }
  },
  created: function() {
    this.todos = JSON.parse(localStorage.getItem("todos")) ?? []
    this.id = sessionStorage.getItem("id")
    this.todo = this.todos.find(v => v.id == this.id)
    
  }
})
</script>
</body>
</html>